---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=john%40example.com&plan=myflixbase&source=tok_1763xsLLwkS6PWMdgXxMDItA
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7KjQ5zKL3IkUlx",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1763xsLLwkS6PWMdO3NaGxqU",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7KjQ5zKL3IkUlx",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "NPPbD705xls3U9sP",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7KjQ5zKL3IkUlx/cards"
          },
          "created": 1447268945,
          "currency": "usd",
          "default_card": "card_1763xsLLwkS6PWMdO3NaGxqU",
          "default_source": "card_1763xsLLwkS6PWMdO3NaGxqU",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1763xsLLwkS6PWMdO3NaGxqU",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7KjQ5zKL3IkUlx",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "NPPbD705xls3U9sP",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7KjQ5zKL3IkUlx/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7KjQEDRSVGqla2",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449860945,
                "current_period_start": 1447268945,
                "customer": "cus_7KjQ5zKL3IkUlx",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflixbase",
                  "object": "plan",
                  "amount": 999,
                  "created": 1447264562,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFlix Base Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1447268945,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7KjQ5zKL3IkUlx/subscriptions"
          }
        }
  recorded_at: Wed, 11 Nov 2015 19:09:05 GMT
recorded_with: VCR 3.0.0
