---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+john%40example.com&source=tok_175f58LLwkS6PWMdmxwnNrj5
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_175f58LLwkS6PWMdAXc177YZ"
          }
        }
  recorded_at: Tue, 10 Nov 2015 16:34:55 GMT
recorded_with: VCR 3.0.0
