---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=john%40example.com&plan=myflixbase&source=tok_176BYvLLwkS6PWMdmjO4tMaE
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc"
          }
        }
  recorded_at: Thu, 12 Nov 2015 03:15:50 GMT
recorded_with: VCR 3.0.0
