---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1764f3LLwkS6PWMdIhpFIRot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1764f3LLwkS6PWMdIhpFIRot",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1447271621,
          "data": {
            "object": {
              "id": "ch_1764f3LLwkS6PWMdvK1mtYkR",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_1764f3LLwkS6PWMddxC98Cya",
              "captured": true,
              "created": 1447271621,
              "currency": "usd",
              "customer": "cus_7Kk9wAEgMMRbWc",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1764f3LLwkS6PWMdVmhzj9PE",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1764f3LLwkS6PWMdvK1mtYkR/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_1764f2LLwkS6PWMdENElEmdC",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7Kk9wAEgMMRbWc",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "NPPbD705xls3U9sP",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7Kk9wST4hMVz6h",
          "type": "charge.succeeded"
        }
  recorded_at: Wed, 11 Nov 2015 20:48:56 GMT
recorded_with: VCR 3.0.0
