---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2016&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_175M4PLLwkS6PWMdmqQcA5Y2",
          "object": "token",
          "card": {
            "id": "card_175M4PLLwkS6PWMdkX5G0tLn",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "NPPbD705xls3U9sP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "69.122.140.163",
          "created": 1447100213,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 09 Nov 2015 20:16:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_175M4PLLwkS6PWMdmqQcA5Y2&currency=usd&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_175M4QLLwkS6PWMdpc6jKjmh",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_175M4QLLwkS6PWMdMncR6mSo",
          "captured": true,
          "created": 1447100214,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_175M4QLLwkS6PWMdpc6jKjmh/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_175M4PLLwkS6PWMdkX5G0tLn",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "NPPbD705xls3U9sP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 09 Nov 2015 20:17:00 GMT
recorded_with: VCR 3.0.0
