---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2016&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1763fuLLwkS6PWMdeGkLhqzg",
          "object": "token",
          "card": {
            "id": "card_1763fuLLwkS6PWMdaFEfF8Qd",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "NPPbD705xls3U9sP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "4.15.27.3",
          "created": 1447267830,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 11 Nov 2015 18:50:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_1763fuLLwkS6PWMdeGkLhqzg&currency=usd&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1763fuLLwkS6PWMdEV1vWV0f",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_1763fvLLwkS6PWMdQNJhKmbV",
          "captured": true,
          "card": {
            "id": "card_1763fuLLwkS6PWMdaFEfF8Qd",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "NPPbD705xls3U9sP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "created": 1447267830,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1763fuLLwkS6PWMdEV1vWV0f/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_1763fuLLwkS6PWMdaFEfF8Qd",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "NPPbD705xls3U9sP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "paid"
        }
  recorded_at: Wed, 11 Nov 2015 18:50:31 GMT
recorded_with: VCR 3.0.0
