---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2016&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1763g1LLwkS6PWMdv8KAx753",
          "object": "token",
          "card": {
            "id": "card_1763g1LLwkS6PWMdgsRvMe3v",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "yiP624S1nbfezubi",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "4.15.27.3",
          "created": 1447267837,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 11 Nov 2015 18:50:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=willis_schroeder%40emmerich.net&plan=myflixbase&source=tok_1763g1LLwkS6PWMdv8KAx753
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 11 Nov 2015 18:50:38 GMT
recorded_with: VCR 3.0.0
