---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2016&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1765EFLLwkS6PWMdhehApPAs",
          "object": "token",
          "card": {
            "id": "card_1765EFLLwkS6PWMd86nxSNAS",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "NPPbD705xls3U9sP",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "4.15.27.3",
          "created": 1447273803,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 11 Nov 2015 20:30:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=kenyon.graham%40kozey.net&plan=myflixbase&source=tok_1765EFLLwkS6PWMdhehApPAs
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7KkjC6W0MAT1g4",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1765EFLLwkS6PWMd86nxSNAS",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7KkjC6W0MAT1g4",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "NPPbD705xls3U9sP",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7KkjC6W0MAT1g4/cards"
          },
          "created": 1447273804,
          "currency": "usd",
          "default_card": "card_1765EFLLwkS6PWMd86nxSNAS",
          "default_source": "card_1765EFLLwkS6PWMd86nxSNAS",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "kenyon.graham@kozey.net",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1765EFLLwkS6PWMd86nxSNAS",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7KkjC6W0MAT1g4",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "NPPbD705xls3U9sP",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7KkjC6W0MAT1g4/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7Kkj8Lz9ML5oUm",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449865804,
                "current_period_start": 1447273804,
                "customer": "cus_7KkjC6W0MAT1g4",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflixbase",
                  "object": "plan",
                  "amount": 999,
                  "created": 1447264562,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFlix Base Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1447273804,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7KkjC6W0MAT1g4/subscriptions"
          }
        }
  recorded_at: Wed, 11 Nov 2015 20:30:05 GMT
recorded_with: VCR 3.0.0
