---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_176QFZLLwkS6PWMdl3N7dXP6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4X3vY6KpaQrgGfUhY1kqdafx
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_176QFZLLwkS6PWMdl3N7dXP6",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1447354609,
          "data": {
            "object": {
              "id": "ch_176QFZLLwkS6PWMdJ1ezYTlY",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1447354609,
              "currency": "usd",
              "customer": "cus_7KrfCIMADdtGZW",
              "description": "payment to fail test",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_176QFZLLwkS6PWMdJ1ezYTlY/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_176QDzLLwkS6PWMdku9kwa42",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7KrfCIMADdtGZW",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "XRuoPDK3FFPu2OEd",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": "MyFlix Monthly Charge",
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_7L6SZ4lptJhTOu",
          "type": "charge.failed"
        }
  recorded_at: Thu, 12 Nov 2015 19:09:59 GMT
recorded_with: VCR 3.0.0
